<h1>Your Car</h1>
Car: <%= @car.info %>
<br/>

<button>Accel</button>
Speed: <%= @car.show_speed %>
<!-- Number is: <%= @result_string %> -->
<!-- <hr/>
<form action="play" method="get">
  <input type="number" name="number" required/>
  <input type="submit" value="Submit Number"/>
</form>
